/*
* ----------------------------------------------------------------------------------------
Filename      : main.css
* ----------------------------------------------------------------------------------------
  TABLE OF CONTENT
* ----------------------------------------------------------------------------------------
* 01.BASE CSS. 
    - loader 
* 02.HEADER SECTION.
    - navigation 
* 03.HERO SECTION. 
* 04.ABOUT SECTION.
* 05.SERVICES SECTION.
* 06.PORTFOLIO SECTION.
* 07.CONTACT SECTION.
* 08.FOOTER SECTION. 
* ----------------------------------------------------------------------------------------
*/

@import url(./vendor/bootstrap/bootstrap.css);
@import url(./vendor/fontawesome/all.min.css);
@import url(./vendor/keen-slider.css);
@import url(./vendor/glightbox.css);
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../font/Poppins-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../font/Poppins-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../font/Poppins-Regular.woff2") format("woff2");
  font-display: swap;
}
/*
* ----------------------------------------------------------------------------------------
* 01.BASE CSS. 
* ----------------------------------------------------------------------------------------
*/

/* COLORS */
:root {
  --clr-darkyellow: #ddaa01;
  --clr-lightyellow: #ffdb67;
  --clr-black: #181715;
  --clr-white: #fff;
}

* {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 400;
  background: var(--clr-lightyellow);
  color: var(--clr-black);
  text-rendering: optimizeLegibility;
}

::selection {
  background: var(--clr-darkyellow);
  color: var(--clr-white);
}

a:hover {
  text-decoration: none;
}

.fixid {
  background: var(--clr-lightyellow);
  box-shadow: 0 0 10px 5px #ddaa014d;
}

label {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

input,
textarea {
  padding: 10px;
  font-size: 13px;
  width: 100%;
  color: var(--clr-black);
  background: transparent;
  border: 2px solid #191a1e80;
  border-radius: 3px;
}

textarea {
  height: 150px;
}

.goverlay {
  background: #ffdb67;
}

.linkbtn {
  background: var(--clr-black);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 50px;
}

.linkbtn:hover {
  color: #ffffff;
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 5px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 20px;
  height: 2px;
  background: var(--clr-darkyellow);
  border-radius: 3px;
  margin: 10px 5px;
  padding: 3px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot--active {
  background: var(--clr-black);
}

.dark-bar {
  font-size: 20px !important;
  font-style: normal !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.bg-overlay {
  width: 100% !important;
  margin: 0 auto !important;
  padding: 20px 10px !important;
  border-radius: 5px !important;
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.bg-overlay p {
  font-size: 14px !important;
}
/*
* ----------------------------------------------------------------------------------------
* 01.BASE CSS. 
- preloader
* ----------------------------------------------------------------------------------------
*/
/* 
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999999999 !important;
  background-color: #ddaa01;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.preloader .preloader__img {
  display: inline-block;
  position: absolute;
  width: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/*
* ----------------------------------------------------------------------------------------
* 02.HEADER SECTION. 
* ----------------------------------------------------------------------------------------
*/

#headermain {
  padding: 10px 0 10px;
  position: fixed;
  width: 100%;
  z-index: 3;
}
/*
* ----------------------------------------------------------------------------------------
* 02.HEADER SECTION. 
- navigation
* ----------------------------------------------------------------------------------------
*/

.navpage__wrap {
  padding: 10px 0 0;
  margin: 0;
}

.navpage__wrap li {
  list-style: none;
  display: inline-block;
  margin: 0 3px;
}

.navpage__wrap li a {
  font-size: 15px;
  font-weight: 500;
  position: relative;
  color: var(--clr-black);
  z-index: 1;
  padding: 5px 15px;
  border-radius: 50px;
}

.navpage__wrap li a:hover {
  text-decoration: none;
  color: #ffffff;
  background: var(--clr-black);
}

.navpage__wrap li a.activelink {
  color: #ffffff;
  background: var(--clr-black);
}

.navicon {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 22;
  border-radius: 25px;
}

.navicon__bar {
  width: 18px;
  height: 1px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0);
  transition: all 0.3s;
}

.navicon__bar:before,
.navicon__bar:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background: var(--clr-black);
}

.navicon:hover .navicon__bar:before,
.navicon:hover .navicon__bar:after {
  background: var(--clr-black);
}

.navicon__bar:before {
  transform: rotate(0deg) translate(0px, -4px);
}

.navicon__bar:after {
  transform: rotate(0deg) translate(0px, 4px);
}

.navicon.active .navicon__bar:before {
  transform: rotate(-45deg) translate(0px, 0px);
}

.navicon.active .navicon__bar:after {
  transform: rotate(45deg) translate(0px, 0px);
}

.navicon.active:hover .navicon__bar .navicon__bar:before {
  transform: rotate(0deg) translate(0px, 0px);
}

.navicon.active:hover .navicon__bar .navicon__bar:after {
  transform: rotate(0deg) translate(0px, 0px);
}

.overlay {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 2;
  top: -100%;
  display: none;
  background: var(--clr-lightyellow);
  padding: 80px 0 30px 0;
  border-bottom: 1px solid var(--clr-darkyellow);
}

.overlay__listnav {
  padding: 0 0 0 20px;
}

.overlay__listnav li {
  list-style: none;
  margin: 10px 0;
}

.overlay__listnav li a {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  color: var(--clr-black);
  padding: 5px 10px;
  border-radius: 50px;
}

.overlay__listnav li a:hover {
  color: #ffffff;
  text-decoration: none;
  background: var(--clr-black);
}

.openmenu .overlay {
  display: block;
  top: -1px;
}
/*
* ----------------------------------------------------------------------------------------
* 03.HERO SECTION. 
* ----------------------------------------------------------------------------------------
*/

#sectionhero {
  padding: 100px 0 0;
}

.infohero__p {
  font-size: 20px;
  letter-spacing: 1px;
  padding: 5px 20px;
  color: #ffffff;
  display: inline-block;
  background: var(--clr-black);
  border-radius: 5px;
}

.infohero__title {
  font-size: 80px;
  font-weight: 600;
  text-shadow: 5px 5px var(--clr-darkyellow);
}

.infohero__title span {
  display: block;
}

.heroimg {
  height: 350px;
  width: 350px;
  margin: 0 auto;
}

.heroimg .heroimg__poto {
  border-radius: 100%;
  height: 350px;
  width: 350px;
  object-fit: cover;
  box-shadow: 20px 20px 1px 1px var(--clr-darkyellow);
  border: 7px solid;
}

#typed-text {
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.herolink {
  display: inline-block;
}

.tag-line {
  padding-top: 20px;
}
/*
* ----------------------------------------------------------------------------------------
* 04.SKILLS SECTION. 
* ----------------------------------------------------------------------------------------
*/

/* skills not about */
#aboutsection {
  height: auto;
  background: #fff;
  padding: 50px 0;
}

/* starts about section */
.about-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  /* border: 2px solid blue; */
}

.photos {
  max-width: 50%;
  padding: 0 10px;
  /* border: 5px solid white; */
}

.about-text {
  max-width: 50%;
  padding: 50px 20px;
  font-size: 16px;
  line-height: 2.3;
  /* border: 5px solid green; */
}

.about h3 {
  font-size: 50px;
  font-weight: 600;
}

.about-container .photos img {
  width: 100%; /* Make the image take full width */
  height: auto; /* Maintain aspect ratio */
  display: block;
}

.about {
  padding: 20px 75px 40px 75px;
}

.about p {
  line-height: 2.3;
}

.abouthero h3 {
  font-size: 50px;
  font-weight: 600;
}

.infoabout__list {
  padding: 0;
}

.infoabout__list li {
  list-style: none;
}
/* .infoabout__wrap {
  border: 5px solid purple;
} */
.infoabout__title {
  color: var(--clr-black);
  letter-spacing: 1px;
  font-weight: 600;
}

.tech-logo {
  width: 30%;
  margin: 0 auto;
}

.tech-grid-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "html css javascript wordpress"
    "mailchimp litmus figma canva"
    "photoshop illustrator indesign lightroom";
}

.tech-grid-container .html {
  grid-area: html;
}

.tech-grid-container .css {
  grid-area: css;
}

.tech-grid-container .javascript {
  grid-area: javascript;
}

.tech-grid-container .wordpress {
  grid-area: wordpress;
}

.tech-grid-container .mailchimp {
  grid-area: mailchimp;
}

.tech-grid-container .litmus {
  grid-area: litmus;
}

.tech-grid-container .figma {
  grid-area: figma;
}

.tech-grid-container .canva {
  grid-area: canva;
}

.tech-grid-container .photoshop {
  grid-area: photoshop;
}

.tech-grid-container .illustrator {
  grid-area: illustrator;
}

.tech-grid-container .indesign {
  grid-area: indesign;
}

.tech-grid-container .lightroom {
  grid-area: lightroom;
}

.tech-grid-item {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.tech-grid-item img {
  width: 35%;
}
/*
* ----------------------------------------------------------------------------------------
* 05. ABOUT SECTION. 
* ----------------------------------------------------------------------------------------
*/

#servicesection {
  background: var(--clr-lightyellow);
  height: auto;
  padding: 0 0 0;
  /* border: 5px solid red; */
}

.counterwrap {
  text-align: center;
}

.counterwrap__counternum {
  font-size: 30px;
  font-weight: 700;
}

.wrapservice {
  padding: 20px;
}

.wrapservice i {
  font-size: 30px;
  background: var(--clr-darkyellow);
  padding: 20px 20px;
  border-radius: 100%;
}

.wrapservice__title {
  font-size: 20px;
  font-weight: 600;
}
/*
* ----------------------------------------------------------------------------------------
* 06.PORTFOLIO SECTION. 
* ----------------------------------------------------------------------------------------
*/

#portfoliosection {
  background: #ffffff;
  height: auto;
}

#porfoliowarp {
  padding-top: 50px;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
}

.grid-gutter-md {
  margin-left: -8px;
  margin-right: -8px;
}

.porfoliowarp__item {
  cursor: pointer;
  margin: 0;
  position: relative;
  float: right;
  padding: 10px;
  width: 33.3333%;
  border-radius: 5px;
  overflow: hidden;
}

.porfoliowarp__content {
  border-radius: 5px;
  height: 350px;
  width: 100%;
  border: 0.0025rem solid darkgrey;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.porfoliowarp__item:hover .porfoliowarp__content {
  background-color: var(--clr-darkyellow);
  opacity: 0.5;
}

.porfoliowarp__portolink i {
  position: absolute;
  z-index: 1;
  color: var(--clr-black);
  opacity: 0;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.porfoliowarp__item:hover i {
  opacity: 1;
}

#filterwrap {
  padding: 0;
  margin: 30px 0;
}

#filterwrap li {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
  padding: 5px 20px;
  cursor: pointer;
  border: 1px solid var(--clr-black);
}

#filterwrap li.active {
  background: var(--clr-black);
  color: #ffffff;
}
/*
* ----------------------------------------------------------------------------------------
* 07.CONTACT SECTION. 
* ----------------------------------------------------------------------------------------
*/

#contactsection {
  height: auto;
  background: var(--clr-lightyellow);
  /* padding: 0 0 50px; */
}

.contactdetail__title {
  font-size: 30px;
  font-weight: 600;
}

.contactdetail__list {
  padding: 0;
}

.contactdetail__list li {
  list-style: none;
  position: relative;
  margin: 20px 0;
}

.contactdetail__span {
  font-weight: 600;
}

.contactdetail__sosmed {
  padding: 0;
}

.contactdetail__sosmed li:first-child {
  margin: 10px 10px 0 0;
}

.contactdetail__sosmed li {
  list-style: none;
  margin: 10px 10px 10px;
  display: inline-block;
}

.contactdetail__sosmed li a {
  color: var(--clr-black);
  font-size: 30px;
}
/*
* ----------------------------------------------------------------------------------------
* 08.FOOTER SECTION. 
* ----------------------------------------------------------------------------------------
*/

.footwrap p {
  font-size: 13px;
  letter-spacing: 1px;
}
